[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/.vim/bundle/vim-pathogen"]
	path = vim/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/.vim/bundle/vim-sensible"]
	path = vim/.vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/.vim/bundle/neocomplete.vim"]
	path = vim/.vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/.vim/bundle/vim-easytags"]
	path = vim/.vim/bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "vim/.vim/bundle/vim-misc"]
	path = vim/.vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "vim/.vim/bundle/tagbar"]
	path = vim/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
